.button {
    font: inherit;
    border: 1px solid #0c87de;
    border-radius: 6px;
    background: #0c87de;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .button:hover,
  .button:active {
    background: #9be8fc;
    border-color: #9be8fc;
  }
  
  .button:focus {
    outline: none;
  }